.image7 {
    background-color: #490D40;
    background: url(https://www.prestashop.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln) no-repeat center center;
    
    height: 900px;
    margin-top: -20px;
  }