@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.image1 {
    background-color: #490D40;
    background: url(https://wallup.net/wp-content/uploads/2016/01/13656-dark-video_games-dragonborn-dovahkiin-The_Elder_Scrolls_V_Skyrim-dragon.jpg) no-repeat center center;
    background-size: cover;
    height: 1000px;
    margin-top: -20px;
    position: fixed top;
  }

.sign-up-card{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(253, 255, 228);
  }
  .sign-up-card h1{
    float: left;
    font-size: 5.3vh;
    border-bottom: 6px solid #fbf1ff;
    margin-bottom: 50px;
    padding: 13px 0;
  }

  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid #faecff;
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }

  .textbox input placeholder{
    color:#ffffff;
  }

  .btn1{
    width: 100%;
    background: none;
    border: 3px solid #faecff;
    color: white;
    padding: 5px;
    font-size: 2.3vh;
    cursor: pointer;
    margin: 12px 0;
  }

  .link1{
    color: white;
    font-size: 2.3vh;
  }